name: Build my gitbook and deploy to gh-pages

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    name: Build Gitbook
    runs-on: ubuntu-latest
    steps:
      # Check out the repo first
      - name: Checkout code
        uses: actions/checkout@v2
      # Run this action to publish gitbook
      - name: Publish
        uses: kimi0230/gitbook-action@master
        with:
          # specify either github_token or personal_token
          github_token: ${{ secrets.GH_ACCESS_TOKEN }}
          # personal_token: ${{ secrets.PERSONAL_TOKEN }}
